In [1]:
a="Vikram"
b=1216
c=16.07

In [2]:
type(a)

str

In [3]:
type(b)

int

In [4]:
type(c)

float

In [5]:
float(b)

1216.0

In [6]:
int(c)

16

In [7]:
str(b)

'1216'

In [8]:
d='''vikram 
pratap
singh'''

In [9]:
print(d)

vikram
pratap
singh

# '''Airthmetic operator'''

In [10]:
z=2
y=4

In [11]:
print('the value of 2+4=',2+4)

the value of 2+4= 6

In [12]:
print (z+y)

6

In [13]:
print(z-y)

-2

In [14]:
print(z*y)

8

In [15]:
print(z/y)

0.5

In [16]:
print(z%y)

2

# Assignment operator

In [17]:
a=34

In [18]:
a+=6

In [19]:
print(a)

40

In [20]:
a-=6

In [21]:
print (a)

34

In [22]:
a*=6

In [23]:
print (a)

204

In [24]:
a/=6

In [25]:
print(a)

34.0

# Comparision operator

In [26]:
b=33

In [27]:
c=(a>b)

In [28]:
print(c)

True

In [29]:
print(14==7)

False

In [30]:
print(12!=11)

True

# logical operator

In [31]:
bool1= True
bool2= False

In [32]:
print(bool1 and bool2)

False

In [33]:
print(bool1 or bool2)

True

In [34]:
print(not bool2)

True

not operator is used only with one variable

In [35]:
m=input('enter your name')

enter your name32

In [36]:
print(m)

32

In [37]:
type(m)

str

if you want input no. then covert m into integer if it is possible

# practice set

##  add 2 no.

In [3]:
a=int(input('enter a no.1:'))
b=int(input('enter a no.2:'))

enter a no.1:12
enter a no.2:14

In [4]:
print (a+b)

26

## remainder when divided by 2

In [5]:
c=int(input('enter a no'))

enter a no155

In [6]:
print(c%2)

1

## type of variable assigned by input()

In [7]:
d=input()

123

In [8]:
print(type(d))

<class 'str'>

In [9]:
type(d)

str

## assignment operator for comparing 2 number

In [11]:
e1= int(input('no.1:'))
e2= int(input('no.2:'))

no.1:34
no.2:80

In [12]:
print(a>b)

False

## avg of 2 no.

In [13]:
f1=int(input('enter1:'))
f2=int(input('enter2:'))

enter1:12
enter2:16

In [15]:
print((f1+f2)/2)

14.0

In [16]:
import numpy as np

In [18]:
g= [f1,f2]

In [19]:
np.average(g)

14.0

In [20]:
import statistics as st

In [22]:
st.mean([f1,f2])

14

## square of number

In [23]:
h=int(input('enter a no.'))

enter a no.23

In [25]:
print(h**2)

529

In [26]:
import math as mt

In [ ]:
mt.pow(h,2)