<a href="https://colab.research.google.com/github/vikkrock/python-basic/blob/main/list_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3: Data Structures Assignments
## Lesson 3.1: Lists

### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [12]:
lst=[i for i in range(1,20,1)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [10]:
print(f'first element is {lst[0]}')
print(f'middle element is {lst[len(lst)//2]}')
print(f'last element is {lst[-1]}')

first element is 1
middle element is 10
last element is 19

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [13]:
print(f'first 5 element are {lst[:5]}')
print(f'last 5 element are {lst[-5:]}')
print(f'elements from index 5 to 15 of the list {lst[5:15]}')

first 5 element are [1, 2, 3, 4, 5]
last 5 element are [15, 16, 17, 18, 19]
elements from index 5 to 15 of the list [6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [14]:
sq=[x**2 for x in range(1,11,1)]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###Assignment 5: Filtering Lists
Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [15]:
even= [ x for x in lst if x%2==0]
even

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [19]:
import random
random_num=[random.randint(1,20) for i in range(15)]
print(f'original list: {random_num}')

print(f'sorted list:{sorted(random_num)}')
print(f'reverse sorted list:{sorted(random_num, reverse=True)}')
print(f'without duplicate list: {list(set(random_num))}')

original list: [12, 8, 7, 15, 14, 5, 11, 13, 15, 6, 9, 14, 14, 14, 6]
sorted list:[5, 6, 6, 7, 8, 9, 11, 12, 13, 14, 14, 14, 14, 15, 15]
reverse sorted list:[15, 15, 14, 14, 14, 14, 13, 12, 11, 9, 8, 7, 6, 6, 5]
without duplicate list: [5, 6, 7, 8, 9, 11, 12, 13, 14, 15]

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [22]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at second row and third column: 6

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [24]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_student=sorted(students,key=lambda x:x['score'],reverse=True)
print ('Sorted students by score in descending order:')
for i in sorted_student:
  print(i)

Sorted students by score in descending order:
{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [25]:
def transpose_matrix(matrix):
  trans=[[matrix[j][i] for j in range(len(matrix))]for i in range(len(matrix[0]))]
  return trans
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
trans= transpose_matrix(matrix)
print('original matrix: ')
for row in matrix:
  print(row)
print('transposed matrix:')
for row in trans:
  print(row)

original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [27]:
def flat(lst):
  f=[i for s in lst for i in s]
  return f
lst=[
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
flatten=flat(lst)
print('original list: ')
for row in lst:
  print(row)
print('flatten list')
print(flatten)

original list:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
flatten list
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [28]:
lst=[x for x in range(1,11,1)]
print(f'orginal list: {lst}')
lst.pop(2)
lst.pop(4)
lst.pop(6)
lst.insert(5,99)

print(f'modified list: {lst}')

orginal list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
modified list: [1, 2, 4, 5, 7, 99, 8, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [29]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']
print(list(zip(lst1,lst2)))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [30]:
def reversed(lst):
  return lst[::-1]
list1=[1,4,6,7,8]
print(f'original list: {list1}')
print(f'reversed list: {reversed(list1)}')

original list: [1, 4, 6, 7, 8]
reversed list: [8, 7, 6, 4, 1]

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [31]:
def rotate(lst,n):
  return lst[n:]+lst[:n]
list1= [1,2,3,4,5,6,7,8]
m=int(input('enter position from which need to rotate: '))
print(f'original: {list1}')
print(f'rotated : {rotate(list1,m)}')

enter position from which need to rotate: 4
original: [1, 2, 3, 4, 5, 6, 7, 8]
rotated : [5, 6, 7, 8, 1, 2, 3, 4]

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [32]:
def list_intersection(lst1,lst2):
  return [x for x in lst1 if x in lst2]
list1=[1,2,5,7,8,9,0]
list2=[2,4,3,7,9,0]
print(f'list1: {list1}')
print(f'list2: {list2}')
print(f'intersection: {list_intersection(list1,list2)}')

list1: [1, 2, 5, 7, 8, 9, 0]
list2: [2, 4, 3, 7, 9, 0]
intersection: [2, 7, 9, 0]