<a href="https://colab.research.google.com/github/vikkrock/python-basic/blob/main/sets_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
a=set(range(1,11))
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
a.add(11)
print(a)
a.remove(1)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [3]:
a=set(range(1,6))
b=set(range(2,11,2))
print(a.union(b))
print(a.intersection(b))
print(b.difference(a))
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{8, 10, 6}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [6]:
a={x**2 for x in range(1, 11)}
print(a)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [7]:
a=set(range(1,11))
even={i for i in a if i%2==0}
print(even)

{2, 4, 6, 8, 10}


### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [8]:
s = {1, 2, 2, 3, 4, 4, 5}
unique_s = set(s)
print(unique_s)

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [9]:
a=set(range(1,6))
b=set(range(1,4))
print(b.issubset(a))
print(a.issuperset(b))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [10]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [11]:
a=set(range(1,6))
a=list(a)
a.append(6)
print(set(a))

{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [12]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [13]:
s = set(range(1, 6))
for elem in s:
    print(elem)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [14]:
a=set(range(1,6))
while a:
  a.pop()
  print(a)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [16]:
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [17]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}