<a href="https://colab.research.google.com/github/vikkrock/python-basic/blob/main/tuple_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tpl=tuple(range(1,11))
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(f'first: {tpl[0]}')
print(f'middle: {tpl[len(tpl)//2]}')
print(f'last: {tpl[-1]}')

first: 1
middle: 6
last: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [4]:
print(f'1st three element: {tpl[:3]}')
print(f'last three elements: {tpl[-3:]}')
print(f'elements from index 2 to 5: {tpl[2:5]}')

1st three element: (1, 2, 3)
last three elements: (8, 9, 10)
elements from index 2 to 5: (3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [6]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print('Matrix: ')
for i in matrix:
  print(i)
print(f'element at the second row and third column: {matrix[1][2]}')

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
element at the second row and third column: 6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [7]:
tpl1=(1,2,3)
tpl2=(4,5,6)
con=tpl1+tpl2
print(f'Concatenated Tuple: {con}')

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [9]:
tpl=(1,1,2,3,3,5,6,7,8,7,9,7,0)
print(f'count of occurence :{tpl.count(7)}')
print(f'index of the first occurrence of an element: {tpl.index(3)}')

count of occurence :3
index of the first occurrence of an element: 3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [11]:
tpl=(11,15,19,20,35)
a,b,c,d,e=tpl
print(a,b,c,d,e)

11 15 19 20 35

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [12]:
lst=[1,2,3,4,5]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [13]:
tpl=(
    (1,2,3),
    (4,5,6),
    (0,9,8))
for i in tpl:
  print(i)

(1, 2, 3)
(4, 5, 6)
(0, 9, 8)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [14]:
tpl=(1,2,3,4,5)
lst=list(tpl)
print(f'list: {lst}')
lst.append(6)
print(f'list: {lst}')
tpl1=tuple(lst)
print(f'tuple: {tpl1}')

list: [1, 2, 3, 4, 5]
list: [1, 2, 3, 4, 5, 6]
tuple: (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [15]:
tpl=('a','z','vk','vj','nk')
z=''
for i in tpl:
  z+=i
print(f'tuple elements into a single string: {z}')

tuple elements into a single string: azvkvjnk

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [16]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [18]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for i in nested_tpl:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [19]:
tpl=(1,2,3,2,4,5,2,3,4)
print(set(tpl))

{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [20]:
sample_tpl = (1, 2, 3, 4, 5)
def mx(tpl):
  return max(tpl)
def mn(tpl):
  return min(tpl)
def sm(tpl):
  return sum(tpl)

print(f'max from tuple: {mx(sample_tpl)}')
print(f'min from tuple: {mn(sample_tpl)}')
print(f'sum from tuple: {sm(sample_tpl)}')

max from tuple: 5
min from tuple: 1
sum from tuple: 15